body {
    background-image: url("../images/tiny-squares.png");
}
header {
    background-color: lightskyblue;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    width: 250px;
    font-size: 16px;
    text-align: center;
    color: lightyellow;
    margin-left: 20px;
    float:left;
    margin-left: 300px;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.footer,
.push {
    height: 50px;
    background-color:darkgray;
}
nav {
    background-color: white;
    overflow:hidden;
    border-bottom: 5px solid lightskyblue;
}
nav a {
padding: 0px 20px;
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 16px;
text-decoration-line: none;
color: darkgrey;
font-weight: bold;
}
nav a:hover {
    background-color:black;
    color:white;
}
#links {
    float:right;
    margin-top:45px;
}
#box, #box2, #box3 {
    background-color: rgb(184, 179, 179);
    width:960px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: 600px;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom:50px;
    box-shadow: 10px 10px 5px grey;

}
header p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
.heading, .heading2, .heading3 {
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 26px;
    margin-left: 0px;
    padding: 20px;
    border-bottom: solid white;
}
.content {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}
img {
    float:left;
    padding: 3px 30px 30px 0px
}
.box-set {
    position: relative;
}
.legend {
    position: absolute;
    z-index: auto;
    background-color: black;
    text-align: center;
    padding:10px;
    top: 80px;
    width: 160px;
}
.box{
    position: absolute;
    margin-top: 0px;
}
.box-1 {
    top: 10px;
    left: 60px;
}
.box-2 {
    left: 60px;
    top: 170px;
}
.box-3 {
    left: 60px;
    top: 330px;
}
.box-4 {
    top: 10px;
    left: 350px;
}
.box-5 {
    top: 170px;
    left: 350px;
}
figure {
    position: relative;
}
input[type=text] {
    width:100%;
    border: lightskyblue solid;
    margin-bottom: 20px;
    height: 25px;
}
input[type=email] {
    width:100%;
    border: lightskyblue solid;
    margin-bottom: 20px;
    height: 25px;
}
textarea {
    width:100%;
    height:190px;
    border: lightskyblue solid;
    margin-bottom: 20px;
}
input[type=submit] {
    width: 100px;
    background-color: lightskyblue;
    font-weight:bold;
    border: none;
    height: 25px;
    margin-bottom: 20px;
    font-size: 16px;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 25px;
    border-top: solid lightskyblue 5px;
}
@media screen and (max-width: 768px) {
    header {
        position:static;
    }
    body {
      background-color: lightseagreen;
    }
    #box, #box2, #box3 {
        width:50%;
        color: lightgrey;
        height: 80%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        margin-bottom:50px;
        position: relative;
    }
}
@media screen and (max-width: 640px) {
    header {
        position:static;
    }
    body {
      background-color: lightsalmon;
    }
    #box, #box2, #box3 {
        width:80%;
        color: lightgreen;
        height: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        margin-bottom:50px;
        position: relative;
    }
    .box {
        position: relative;
        width:50%;
        height:50%;
    }
    .legend {
        position: relative;
    }
}
img {
    float:left;
    padding: 3px 30px 30px 0px;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  @keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }
  .legend {
    position: absolute;
    z-index: auto;
    background-color: black;
    text-align: center;
    padding:20px;
    top: 100px;
    width: 140px;
    float:left;
    position: absolute;
    animation-name: example;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
 }
  @keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}